<nav class="flex align-items-center px-3 py-4">
  <div class="inline md:hidden">
    @if (showDropDownProjects) {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="svg-icon cursor-pointer"
      (click)="sidebarVisible = true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
    }
  </div>
  @if (showDropDownProjects) {
  <p-dropdown
    [formControl]="selectedProject"
    [options]="projects()"
    optionLabel="name"
    placeholder="Select a project"
    class="ml-auto ro-dropdown mr-1"
  ></p-dropdown>
  <p-button
    icon="pi pi-plus"
    [outlined]="true"
    class="mr-3"
    (click)="onCreateProject()"
  ></p-button>
  }
  <div
    class="w-3rem h-3rem border-circle cursor-pointer font-bold bg-primary flex justify-content-center align-items-center"
    [ngClass]="{ 'ml-auto': !showDropDownProjects }"
    (click)="menu.toggle($event)"
  >
    @if(user) {
    {{ user.firstname[0] + user.surname[0] }}
    }
  </div>
</nav>

<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header">
    <p class="text-xl font-bold">Rogue one</p>
  </ng-template>
  <app-sidebar [responsiveMode]="true" (close)="onClose()" />
</p-sidebar>

<p-menu #menu [model]="items" [popup]="true">
  <ng-template pTemplate="item" let-item>
    @if(item.label === 'account') {
    <div class="flex align-items-center gap-2 py-2 px-1 mb-2 cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="svg-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>

      <span>Account setting</span>
    </div>
    } @else if(item.label === 'logout') {
    <div
      class="flex align-items-center gap-2 py-2 px-1 cursor-pointer"
      (click)="onSignout()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="svg-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"
        />
      </svg>
      <span>Logout</span>
    </div>
    }
  </ng-template>
</p-menu>
