<div class="flex w-full p-5 md:p-8 justify-content-center">
  <div
    class="w-full bg-white px-3 pb-5 pt-3 md:px-8 border-round-md wrapper overflow-hidden"
  >
    <h1 class="text-center">Rouge One</h1>
    <div class="flex justify-content-center">
      <img src="assets/images/welcome.svg" alt="Rouge One" class="w-25rem" />
    </div>
    <form [formGroup]="signInForm" class="flex flex-column gap-2 mb-3">
      <input
        type="text"
        pInputText
        formControlName="email"
        placeholder="Email"
      />
      <input
        type="password"
        pInputText
        formControlName="password"
        placeholder="Password"
      />
      <a [routerLink]="['/recovery-password']" class="ml-auto mb-3">
        Forgot password?
      </a>
      <p-button label="Sign In" class="'w-full'"></p-button>
    </form>
    <p class="m-0 mb-3 text-center text-sm">Or</p>
    <div class="flex justify-content-center">
      <p-button [outlined]="true" (click)="loginWithGoogle()">
        <svg
          role="img"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="h-1rem mr-1"
        >
          <path
            d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z"
          />
        </svg>
        <p class="text-sm m-0">Sign in with google</p>
      </p-button>
    </div>
  </div>
</div>
